@font-face {
    font-family: 'AgokaFamily';
    src: url(font/AgokaFamily.otf.otf);
    font-family: 'Vintage';
    src: url(font/Vintage.ttf);
}
@font-face {
    font-family: 'Mogent';
    src: url(font/Mogent.otf);
}
@font-face {
    font-family: 'Designer';
    src: url(font/Designer.otf);
}
@font-face{
    font-family: 'milk';
    src: url(font/LEMONMILK-Medium.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans' , sans-serif;
}

