@font-face {
    font-family: 'AgokaFamily';
    src: url(font/AgokaFamily.otf.otf);
    font-family: 'Vintage';
    src: url(font/Vintage.ttf);
    /*font-family: 'Mogent';
    src: url(font/Mogent.otf);*/
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans' , sans-serif;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0 20px;
}
header{
    background-color: #EB3D00;
}
.navbar ul li a{
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px; 
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.icon, a{
    padding-top: 10px;
}
a{
    float: left;
    padding-top: 9px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
a:hover{
    color:black;
}
header{
    position: relative;
    padding: 0 2rem;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EB3D00;
}
.navbar .icon a{
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 6px;
}
.navbar .links {
    display: flex;
    gap: 2rem;

}
.NameHeader p{
    font-size: 30pt;
    color:#273248;
    font-weight: 800;
    position: relative;
    bottom: 300px;
    left: 850px;
}
.Sub p{
    font-size: 20pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    position: relative;
    bottom: 300px;
    left: 270px;
    color:#273248;
    font-weight: 200;
} 
.pic img{
    margin-top: 120px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 0cm;
}
.container p{
    color: #ffffff;
    font-family:'Times New Roman', Times, serif;
    font-size: 25pt;
    position: relative;
    top: 5px;
    left: 12px;
}
.container{
    position: relative;
    left: 100px;
    top: 100px;
}
.container::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 700px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
}
.container{
    display: block;
    width: 300px;
    height: 500px;
    z-index: 1;
}
.par p{
    color:#273248;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17pt;
}
.top p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    margin-left: 110px;
}
.top ul li{
    color: #273248;
    font-size: 14pt;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 130px;
}
.top ul{
    color: #273248;
    font-size: 14pt;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}
.pic{
    position: relative;
    left: 250px;
    top: 40px;
}
.contactButton{
    width: 120px;
    height: 29px;
    background-color: #EB3D00;
    font-family: 'Mogent';
    font-size: 15px;
    position: relative;
    bottom: 200px;
    left: 980px;
}
.CVButton{
    width: 130px;
    height: 30px;
    background-color: #EB3D00;
    font-family: 'Mogent';
    font-size: 15px;
    position: relative;
    bottom: 200px;
    left: 980px;
}